.font{
    font-size: 15px;
}
.weight{
    font-size: 25px;
}
.navy{
    background-color: navy;
}
.width{
    width: 85%;
}
.padding{
    padding: 30px 10px;
}
.padd{
    padding: 10px 73px;
}
.length{
   height: 338px;
}